/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1920PX) SECTION START ---------------*/
@media only screen and (max-width: 1920px) {}

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1920PX) SECTION COMPLETED ---------------*/

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1599PX) SECTION START ---------------*/
@media only screen and (max-width: 1599px) {}

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1599PX) SECTION COMPLETED ---------------*/

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1299PX) SECTION START ---------------*/
@media only screen and (max-width: 1299px) {}

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 1299PX) SECTION COMPLETED ---------------*/

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 992PX) SECTION START ---------------*/

@media only screen and (max-width: 992px) {}

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 992PX) SECTION COMPLETED ---------------*/

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 768PX) SECTION START ---------------*/

@media only screen and (max-width: 768px) {}

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 768PX) SECTION COMPLETED ---------------*/

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 576PX) SECTION START ---------------*/

@media only screen and (max-width: 576px) {
    #nav {
        right: 4%;
        z-index: 12;
        bottom: 14%;
    }

    #nav button#next-page {
        font-size: 1.1rem;
        padding: 0.8rem;
    }

    .flip-dots {
        top: 25%;
        z-index: 12;
    }

    footer.copyright {
        z-index: 12;
    }

    footer.copyright h6 {
        font-size: 0.8rem;
    }

    .open-button {
        bottom: 55%;
        left: 1%;
        font-size: 1.1rem;
        padding: 0.7rem 1rem;
        z-index: 12;
    }

    .flip-dots #dots-container {
        height: 180px;
    }

    .dot {
        font-size: 0.6rem;
        padding: 0.8rem 0;
        width: 30px;
    }

    .dot.active {
        padding: 0.8rem 0;
        width: 40px;
    }

    .flip-dots #scroll-up-btn,
    .flip-dots #scroll-down-btn {
        font-size: 0.8rem;
        width: 45px;
        padding: 0.1rem 0;
        top: -1.3rem;
    }

    .flip-dots #scroll-down-btn {
        top: auto;
        bottom: -1.3rem;
    }

    .our-floting-text {
        bottom: 16%;
    }

    .our-floting-text h5 {
        font-size: 1rem;
        line-height: 1rem;
    }

    #cover .logo-bg {
        height: 250px;
        width: 250px;
        transform: translate(0, 60%);
        border: 4px solid #0D96E1;
    }

    #cover .logo-bg h3.logo-text {
        font-size: 0.7rem;
    }

    .logo-bg .logo-num {
        position: absolute;
        bottom: 1.7rem;
    }

    .logo-bg .logo-num a {
        text-decoration: none;
        font-size: 0.8rem;
        color: #D09B33;
    }

    #cover .logo .line .social a i {
        font-size: 1.5rem;
    }

    .logo-bg .logo-num a i {
        color: #1594E3;
        font-size: 0.8rem;
        padding-right: 0.2rem;
    }

    .navi-cover-info-part {
        bottom: 20%;
    }

    .navi-cover-info-part .navi-cover-info {
        padding: 1rem 0 1rem;
        margin: 0 0.2rem;
        width: 30%;

    }

    .navi-cover-info-part .navi-cover-info .navi-info h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 0;
    }

    .navi-cover-info-part .navi-cover-info .navi-info p {
        font-size: 0.6rem;
    }

    .navi-cover-info-part .cover-glowing-line {
        width: 90%;
    }

    #cover .logo .line .social {
        bottom: 10%;
    }

    .main.enquiry-main,
    .enquiry,
    .enquiry .enquiry-form,
    .enquiry .enquiry-info-side {
        height: auto;
    }

    .enquiry .enquiry-info-side {
        padding: 1.5rem 2rem;
        border-bottom-width: 1px;
    }

    .need-for-responsive {
        display: block;
    }

    .not-need-for-responsive {
        display: none;
    }

    .enquiry-info-side .enquiry-info button.btn {
        display: none;
    }

    .enquiry-info-side .enquiry-info .logo-bg {
        width: 250px;
        height: 250px;
        border: 4px solid #0D96E1;
    }

    form.form-container .chat-btn button.btn {
        padding: 0.5rem 2rem;
    }

    .enquiry-info-side .enquiry-info .logo-bg .logo-num a {
        font-size: 0.8rem;
    }

    .enquiry-info-side .enquiry-info .logo-bg .logo-num a i {
        font-size: 0.8rem;
    }

    .enquiry-info-side .enquiry-info .logo-bg h3.logo-text {
        font-size: 0.7rem;
    }

    .enquiry-info-side .enquiry-info button.btn.visible-for-responsive {
        display: block;
        margin: auto;
    }
}

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 576PX) SECTION COMPLETED ---------------*/

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 375PX) SECTION START ---------------*/

@media only screen and (max-width: 375px) {}

/*------------------- MEDIA QUERRY (RESPONSIVE FOR MAXIMUM 375PX) SECTION COMPLETED ---------------*/